<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shareTunes</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8280');
        socket.on('hello', function(message) {
            alert(message);
        });
    </script>
</head>
<body>

</body>
</html>